body, html {
    height: 100%; margin: 0; overflow-x: hidden;
}
nav {z-index: 2000; color: white;}
nav a {color: white;}
.navbar {margin-bottom: 0;} /*position: fixed; top: 0;}*/
#myNavbar {float: right;}
.bg {
    /* The image used */
    background-image: url("images/myspace2_lg.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#overlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 200;
    /*cursor: pointer;*/
}
#name {color: white;
    opacity: 0.9;
    position: absolute;
    top: 25%;
    z-index: 1000;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 10%;}
.myname {font-size: 72px;}
#name p {font-size: 18px; width: 40%; margin: 0 auto;}
.glyphicon-menu-down {font-size: 40px; opacity: .7;}
.arrow
{
  cursor: pointer;
  position: relative;
  bottom: -2rem;
  left: 50%;
  margin-left:-20px;
  margin-top: 40px;
  width: 40px;
  height: 40px;
}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.col-sm-12 {padding: 0;}
#main {position: absolute; top: 100%;}


#projects {margin: 150px auto 100px; padding: 0 10%;}

.contain {
  position: relative;
  width: 100%;
}

.proj_img {margin-bottom: 30px;
  display: block;
  width: 100%;
  height: auto;
}

.over2, .over1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.over1 {background-color: #c00;}
.over2 {background-color: purple;} /*#68228b;}*/

.contain:hover .over1, .contain:hover .over2 {
  opacity: .8;
}

.text { text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text h2, .text p {font-weight: lighter;}
.text p {font-size:16px;}

#about {margin: 50px 0;
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    overflow-x: hidden;}
#img_container {width: 200%; margin-left: -300px;}
.about_me {margin: 0; height: 300px; float: left;}
.filter {z-index: 5000; position: absolute;}

#dark {background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    height: 300px;
    overflow-x: hidden;}

#tagline {color: white;
    margin-right: 50px;
    position: absolute;
    right: 25px; margin-top: 100px; text-align: right;}
#tagline h1 {font-size: 50px;}

#read {margin-top: 150px;}
#view_container {width: 220px; margin: 0 auto;}

.view_icon {width: 15%; margin: 15px 5%;}

#contact {clear: both; padding: 20px 30%;}
#contact fieldset {}
#contact p {margin: 20px 0 5px;}
.form_field {width: 100%; line-height: 200%;}

@media (max-width: 1200px) {
  #tagline {width: 70%; right: 0; margin-right: 20px; float: right;}
}
@media (max-width: 1110px) {
  #tagline {width: 60%; margin-top: 10%;}
}
@media (max-width:992px) {
  .line {display: none;}
  #contact {padding: 20px 20%;}
}

@media (max-width: 768px) {
  .myname {font-size: 60px;}
  #name p {width: 80%;}
  #tagline {width: 10%; margin-top: 2px; left: 0; margin-left: 20px; text-align: left; float: left;}
  #tagline h1 {font-size: 30px;}
  .csc_img {border: solid 1px #f2f2f2;}
  #contact {padding: 20px 10%;}

  #about, .about_me, #dark {height: 200px;}
  #img_container {margin-left: -100px;}
    
@media only screen 
  and (max-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .myname {font-size: 60px;}
  #name p {width: 80%;}
  #tagline {width: 10%; margin-top: 2px; left: 0; margin-left: 20px; text-align: left; float: left;}
  #tagline h1 {font-size: 30px;}
  .csc_img {border: solid 1px #f2f2f2;}
  #contact {padding: 20px 10%;}

  #about, .about_me, #dark {height: 200px;}
  #img_container {margin-left: -100px;}
}

